@use "../../scss/" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 3rem;
  padding : -1rem 0rem 3rem 0rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__loadmore {
    text-align: center;
  }
}

.btn.small {
  border-width: 1.5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.movie-search {
  position: relative;
  width: 100%;
  max-width: 500px;

  input {
    width: 100%;
    padding-right: 8rem;
    margin-bottom: -0.5rem;
  }

  button {
    position: absolute;
    top: 2;
    right: 0;
  }

  @include mobile {
    top: 1px;
    right: 1px;
  }
}
